<script lang="ts">
    import type { {{properCase game}}GameSession } from '$lib/model/{{properCase game}}GameSession.svelte'
    import { getGameSession } from '$lib/model/sessionContext.svelte.js'
    let gameSession = getGameSession() as {{properCase game}}GameSession
</script>

<div class="relative w-[1280px] h-[1280px] bg-black"></div>
