<script lang="ts">
    import { getGameSession } from '$lib/model/sessionContext.svelte.js'
    let gameSession = getGameSession()
</script>

<div class="relative w-[1280px] h-[1280px] bg-black"></div>
