version: '3.8'
services:
    tabletop:
        build:
            context: .
            dockerfile: ./.devcontainer/Dockerfile

        volumes:
            # Mounts the project folder to '/workspace'. While this file is in .devcontainer,
            # mounts are relative to the first file in the list, which is a level up.
            - .:/workspace:cached
            - node_modules_volume:/workspace/node_modules

        # Overrides default command so things don't shut down after the process ends.
        command: /bin/sh -c "while sleep 1000; do :; done"

        networks:
            - backend

volumes:
    node_modules_volume:

networks:
    backend:
        name: tabletop-backend
        external: true
