@import 'tailwindcss';
@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: 'Inter';
    src: url('/fonts/inter/InterVariable.woff2') format('woff2');
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3';
    src: url('/fonts/source-sans-3/SourceSans3-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3';
    src: url('/fonts/source-sans-3/SourceSans3-Semibold.woff2') format('woff2');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@theme {
    --color-highlight-border: #6496df80;
    --font-tournament: 'Source Sans 3', sans-serif;
    --color-primary-50: #fff5f2;
    --color-primary-100: #fff1ee;
    --color-primary-200: #ffe4de;
    --color-primary-300: #ffd5cc;
    --color-primary-400: #ffbcad;
    --color-primary-500: #fe795d;
    --color-primary-600: #ef562f;
    --color-primary-700: #eb4f27;
    --color-primary-800: #cc4522;
    --color-primary-900: #a5371b;

    --color-secondary-50: #f0f9ff;
    --color-secondary-100: #e0f2fe;
    --color-secondary-200: #bae6fd;
    --color-secondary-300: #7dd3fc;
    --color-secondary-400: #38bdf8;
    --color-secondary-500: #0ea5e9;
    --color-secondary-600: #0284c7;
    --color-secondary-700: #0369a1;
    --color-secondary-800: #075985;
    --color-secondary-900: #0c4a6e;
}

@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";
@source "../../../games/fresh-fish-ui/src/**/*.{html,js,svelte,ts}";
@source "../../../games/kaivai-ui/src/**/*.{html,js,svelte,ts}";
@source "../../../games/estates-ui/src/**/*.{html,js,svelte,ts}";
@source "../../../games/sol-ui/src/**/*.{html,js,svelte,ts}";
@source "../../../libs/frontend-components/src/**/*.{html,js,svelte,ts}";
@source "./**/*.{html,js,svelte,ts}";

@layer base {
    ::view-transition-group(*) {
        z-index: 1;
        animation-duration: 450ms;
        animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
    }

    ::view-transition-group(root),
    ::view-transition-group(game-collection) {
        z-index: 0;
    }

    html:has(dialog:modal) {
        overflow: hidden;
    }

    .dark input.auth-input:autofill {
        /* Browser autofill colors override background-color. */
        box-shadow:
            inset 0 0 0 1000px var(--color-gray-700),
            var(--tw-ring-shadow, 0 0 #0000);
        -webkit-text-fill-color: var(--color-white);
        caret-color: var(--color-white);
    }

    /* disable chrome cancel button */
    input[type='search']::-webkit-search-cancel-button {
        display: none;
    }
}
